<header class="mb-5">
  <div class="flex">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>

    <div class="col-4 search">
      <ngcompany-products-search></ngcompany-products-search>
    </div>

    <div class="col-3 col-offset-1 navigation">
      <ngshop-nav></ngshop-nav>
    </div>

    <div class="col-1 tools">
      <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem"></i>
      <ngcompany-orders-cart-icon></ngcompany-orders-cart-icon>
    </div>
  </div>
</header>
