<p-toast></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit Category' : 'Add Category'"
    subheader="You can add or edit categories here"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-primary mr-4"
              [label]="editMode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>

            <p-button
              styleClass="p-button-secondary"
              label="Cancel"
              icon="pi pi-arrow-circle-left"
              routerLink="/products"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="field col">
              <label for="name">Name</label>
              <input
                id="name"
                type="text"
                pInputText
                formControlName="name"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="productForm['name'].invalid && isSubmitted"
                class="p-error"
                >Name is required</small
              >
            </div>

            <div class="field col">
              <label for="brand">Brand</label>
              <input
                id="brand"
                type="text"
                pInputText
                formControlName="brand"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="productForm['brand'].invalid && isSubmitted"
                class="p-error"
                >Brand is required</small
              >
            </div>

            <div class="field col">
              <label for="price">Price</label><br />
              <p-inputNumber
                mode="decimal"
                inputId="price"
                [useGrouping]="false"
                formControlName="price"
              ></p-inputNumber
              ><br />
              <small
                *ngIf="productForm['price'].invalid && isSubmitted"
                class="p-error"
                >Price is required</small
              >
            </div>
          </div>

          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="countInStock">CountInStock</label><br />
              <p-inputNumber
                mode="decimal"
                inputId="countInStock"
                [useGrouping]="false"
                formControlName="countInStock"
              ></p-inputNumber
              ><br />
              <small
                *ngIf="productForm['countInStock'].invalid && isSubmitted"
                class="p-error"
                >CountInStock is required</small
              >
            </div>

            <div class="field col-4">
              <label for="category">Category</label><br />
              <p-dropdown
                [options]="categories"
                optionValue="id"
                optionLabel="name"
                placeholder="Select a category"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                formControlName="category"
              ></p-dropdown>
              <small
                *ngIf="productForm['category'].invalid && isSubmitted"
                class="p-error"
                >Category is required</small
              >
            </div>

            <div class="field col-4">
              <label for="category">Is Featured</label><br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>

            <div class="field col-12">
              <label for="description">Description</label><br />
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="description"
              ></textarea>
              <small
                *ngIf="productForm['description'].invalid && isSubmitted"
                class="p-error"
                >Description is required</small
              >
            </div>

            <div class="field col-12">
              <label for="richDescription">Product Details</label>
              <p-editor
                formControlName="richDescription"
                [style]="{ height: '320px', maxHeight: '320px' }"
              ></p-editor>
            </div>

            <div class="field col-12">
              <label for="image">Image</label>
              <input class="p-inputtext" type="file" name="image" accept="image/*" (change)="onImageUpload($event)" />
              <div class="col-2 mt-2 pl-0" *ngIf="imageDisplay">
                <img style="width: 100%" [src]="imageDisplay" alt="">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
